    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        min-height: 100vh;
        width: 100vw;
        overflow: hidden;
    }
    
    #header {
        flex-shrink: 0;
        text-align: center;
        padding: 1rem;
    }
    
    #footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        padding: 1rem;
        background: transparent;
        z-index: 10;
    }
    
    #tree-container {
        position: relative;
        flex: 1;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    svg {
        width: 30%;
        height: 100%;
    }
    
    #star {
        position: absolute;
        top: 6%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 6vmin;
    }