@font-face {
    font-family: 'JollySweater';
    src: url('assets/fonts/JollySweater-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JollySweater';
    src: url('assets/fonts/JollySweater-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'JollySweater';
    src: url('assets/fonts/JollySweater-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Spectral';
    src: url('assets/fonts/Spectral-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Spectral';
    src: url('assets/fonts/Spectral-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

#header {
    font-family: JollySweater, sans-serif;
}

body{  
    font-family: 'Spectral', serif;  
    background-image: linear-gradient(to bottom right, #004201, #890000);  
    color: azure;  
}  

#tree-container {
    max-width: 20rem;
    display: flex;
    margin: auto;
    position: relative;
}

#tree {
    width: 20rem;
    margin-top: 4rem;
    z-index: 0;
}

#star {
    position: absolute;
    top: 4rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 5rem;
    cursor: pointer;
    z-index: 5;
}

#decorations {
    position: absolute;
    top: 4rem;
    left: 0;
    width: 20rem;
    height: 25rem;
    z-index: 1;
}

#header, #footer{  
    text-align: center;  
}

.ornament {
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    object-fit: cover;
    transition: all 0.3s ease;
    cursor: pointer;
    z-index: 15;
}

.ornament:hover {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    z-index: 100;
}